<h2>University Housing Information</h2>
<p>Please click the below Information button for more information about the location of housing in the university along with their respective resident assistants (RA)</p>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp">
		</script>
		<script type="text/javascript" src="shru.js"></script>

	<body>
		<input type = button method="get" id = "data" value="Information"/>
		<div id="main">
		<div id="information">
			<table id="content"></table>
		</div>
		<div id="map-canvas"></div>
		</div>
	</body>
	